{% extends 'base_adm.html' %}

{% block title %}Listar livros cadastrados - Bem Vindos a Livraria Duna {% endblock title %}
{% load static %}
{% block content %}

<section class="content">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Listagem de livros cadastrados</strong>
            </div>
            <div class="table-stats order-table ov-h">
                {% if livro %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Titulo</th>
                            <th>Data de Publicação</th>
                            <th>Autor</th>
                            <th>Editora</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in livro %}
                        <tr scope="row">
                            <td>{{l.id}}</td>
                            <td>{{l.titulo}}</td>
                            <td>{{l.data_publicacao}}</td>
                            <td>{{l.autor_id}}</td>
                            <td>{{l.editora}}</td>
                            <td><a href="{% url 'livro:editar_livro' l.id %}" class="btn btn-primary">Editar</a>
                                <a href="{% url 'livro:excluir_livro' l.id %}" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}

                <div class="alert alert-danger" role="alert">
                    <strong>Não Existe autores registrados</strong>
                </div>
                {% endif %}
            </div>
        </div>
</section>
{% endblock content %}